{% extends 'base.html' %}
    {% block content %}
        {% include 'navbar.html' %}

        <div class="container mt-3">
            <div class="jumbotron text-center">
                <h1 class="display-4">Bem-vindo, {{ user.username }}!</h1>
                <h2 class="display">Resumo Financeiro</h2>
                <p class="lead">Saldo Total: R$ {{ saldo }}</p>
                <p class="lead">Total de Receitas: R$ {{ total_receitas }}</p>
                <p class="lead">Total de Despesas: R$ {{ total_despesas }}</p>

                <a href="{% url 'adicionar_receita' %}" class="btn">Adicionar Receita</a>
                <a href="{% url 'adicionar_despesa' %}" class="btn">Adicionar Despesa</a>

                <h2 class="display mt-3">Minhas Contas</h2>
                <ul style="list-style: none;">
                    {% for conta in contas %}
                        {% if conta.banco.nome == "Nenhum" %}
                            <li>{{ conta.nome }} - Saldo: R$ {{ conta.saldo }}</li>
                        {% else %}
                            <li>{{ conta.nome }} - {{ conta.banco }} - Saldo: R$ {{ conta.saldo }}</li>
                        {% endif %}
                    {% empty %}
                        <li>Você ainda não tem contas cadastradas.</li>
                    {% endfor %}
                </ul>
                
                <a href="{% url 'adicionar_conta' %}" class="btn">Adicionar Conta</a>
            </div>
        </div>
        
        {% endblock %}